    {% extends 'base.html' %}
    {% load static %}
        {% block content %}
        <link rel="stylesheet" href="{% static 'about.css'%}">
        <link rel="stylesheet" href="{% static 'media-queries/aboutquery.css'%}">
        <section class="sec-1 fade-in">
            <div class="blur"></div>
            <!-- <h1 class="about-head">About Us</h1> -->
            <div class="about-us">
            <p id="first-p">
                Glorious Vision Academyis a private vision school founded in 2002 by Late Overseer and Deaconess Oludeyi.</p>
            <p id="second-p"> Glorious Vison Academy boasts of hundreds of students and alumnis who are excelling in different phases of life. 
                
            </p>
            </div>
            <!-- <img src="{% static 'media/3dwhite.png' %}"> -->
            <!-- <div class="floor"></div> -->
        </section>
        <section class="sec-2 fade-in">
            <div class="blur">

            </div>
            <img src="{% static 'media/3d (13).png' %}" class="img-1">
            <div class="parent-div">
                <div class="lines" id="line-1"></div>
                <div class="child-1">
                    <h1>Our Vision</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae dolor odit tenetur perspiciatis corporis suscipit laborum officiis, eveniet mollitia, est quaerat, aut officia provident! Alias incidunt voluptate consectetur doloremque quibusdam.</p>
                </div>
                <div class="child-2">
                    <h1>Our Mission</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae dolor odit tenetur perspiciatis corporis suscipit laborum officiis, eveniet mollitia, est quaerat, aut officia provident! Alias incidunt voluptate consectetur doloremque quibusdam.</p>

                </div>
                <div class="lines" id="line-2"></div>
            </div>
            <img src="{% static 'media/3d (4).png' %}" class="img-2">
        </section>
        <section class="history-sec fade-in">
            <div class="history-div">
                <h1>How It Started</h1>
                <img src="{% static 'media/3d26.png' %}">
                <div class="our-history">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur
                        adipisicing elit. Corrupti maiores perferendis
                        aut suscipit voluptates ipsam deleniti,
                        ex dignissimos earum fugit dolores a
                        velit ratione sequi recusandae hic, nostrum

                    </p>
                </div>
            </div>
            <div class="history-div">
                <h1>Where we are</h1>
                <img src="{% static 'media/3d-throwing-dice.png' %}">
                <div class="our-history">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur
                        adipisicing elit. Corrupti maiores perferendis
                        aut suscipit voluptates ipsam deleniti,
                        ex dignissimos earum fugit dolores a
                        velit ratione sequi recusandae hic, nostrum

                    </p>
                </div>
            </div>
            <div class="history-div">
                <h1>Where we are going</h1>
                <img src="{% static 'media/3dsuccess.png' %}">
                <div class="our-history">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur
                        adipisicing elit. Corrupti maiores perferendis
                        aut suscipit voluptates ipsam deleniti,
                        ex dignissimos earum fugit dolores a
                        velit ratione sequi recusandae hic, nostrum

                    </p>
                </div>
            </div>
        </section>
        <section class="team-sec1 fade-in">
            <h1 class="admin-h1">Our Administrative Team</h1>
            <!-- <img class="team-img" src="../images/coolimages/3d (9).png"> -->
            <div class="team">
                <div class="team-div">
                    <img src="{% static 'media/laptop1.jpg' %}">
                    <div class="details">
                        <h1>Prorietor</h1>
                        <p>Gen Overseer Oludeyi</p>
                    </div>
                </div>
                <div class="team-div">
                    <img src="{% static 'media/laptop1.jpg' %}">
                    <div class="details">
                        <h1>Proprietress</h1>
                        <p>Dcns. Oludeyi</p>
                    </div>
                </div>
                <div class="team-div">
                    <img src="{% static 'media/laptop1.jpg' %}">
                    <div class="details">
                        <h1>Principal</h1>
                        <p>Nil</p>
                    </div>
                </div>
            </div>
            <div class="team">
                <div class="team-div">
                    <img src="{% static 'media/laptop1.jpg' %}">
                    <div class="details">
                        <h1>VP (Admin)</h1>
                        <p>Mr. Olatunji Kayode</p>
                    </div>
                </div>
                <div class="team-div">
                    <img src="{% static 'media/laptop1.jpg' %}">
                    <div class="details">
                        <h1>VP (Special Duties)</h1>
                        <p>Mr. Ogunniyi Paul</p>
                    </div>
                </div>
                <div class="team-div">
                    <img src="{% static 'media/laptop1.jpg' %}">
                    <div class="details">
                        <h1>VP (Academic)</h1>
                        <p>Mr. Ajala Ezekiel</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="our-pillars fade-in">
            <main class="main-1">
                <h1>Our Values</h1>
                <div class="values">
                    <div class="value-container" id="value-container-1">
                        <div class="value" id="value-1">
                            <div class="blur"></div>
                            <h1>Team Work</h1>
                        </div>
                        <div class="value-dts" id="value-dts-1">
                            <div class="blur"></div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus expedita sit consequatur id quae voluptatibus.
                            </p>
                        </div>
                    </div>
                    <div class="value-container" id="value-container-2">
                        <div class="value" id="value-2">
                            <div class="blur"></div>
                            <h1>Integrity</h1>
                        </div>
                        <div class="value-dts" id="value-dts-2">
                            <div class="blur"></div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus expedita sit consequatur id quae voluptatibus.
                            </p>
                        </div>
                    </div>
                    <div class="value-container" id="value-container-3">
                        <div class="value" id="value-3">
                            <div class="blur"></div>
                            <h1>Fairness</h1>
                        </div>
                        <div class="value-dts" id="value-dts-3">
                            <div class="blur"></div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus expedita sit consequatur id quae voluptatibus.
                            </p>
                        </div>
                    </div>
                    <div class="value-container" id="value-container-4">
                        <div class="value" id="value-4">
                            <div class="blur"></div>
                            <h1>Diligience</h1>
                        </div>
                        <div class="value-dts" id="value-dts-4">
                            <div class="blur"></div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus expedita sit consequatur id quae voluptatibus.
                            </p>
                        </div>
                    </div>
                </div>
            </main>
            
            <main class="main-2">
                <h1>Our Pillars</h1>
                <div class="values">
                    <div class="value-container" id="value-container-1">
                        <div class="value" id="value-1">
                            <div class="blur"></div>
                            <h1>God</h1>
                        </div>
                        <div class="value-dts" id="value-dts-1">
                            <div class="blur"></div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus expedita sit consequatur id quae voluptatibus.
                            </p>
                        </div>
                    </div>
                    <div class="value-container" id="value-container-2">
                        <div class="value" id="value-2">
                            <div class="blur"></div>
                            <h1>Morality</h1>
                        </div>
                        <div class="value-dts" id="value-dts-2">
                            <div class="blur"></div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus expedita sit consequatur id quae voluptatibus.
                            </p>
                        </div>
                    </div>
                    <div class="value-container" id="value-container-3">
                        <div class="value" id="value-3">
                            <div class="blur"></div>
                            <h1>Uprightness</h1>
                        </div>
                        <div class="value-dts" id="value-dts-3">
                            <div class="blur"></div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus expedita sit consequatur id quae voluptatibus.
                            </p>
                        </div>
                    </div>
                    <div class="value-container" id="value-container-4">
                        <div class="value" id="value-4">
                            <div class="blur"></div>
                            <h1>Parents</h1>
                        </div>
                        <div class="value-dts" id="value-dts-4">
                            <div class="blur"></div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus expedita sit consequatur id quae voluptatibus.
                            </p>
                        </div>
                    </div>
                </div>
                </div>
            </main>
        </section>
        
        
        
    {% endblock %}