{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'events.css' %}">
    <section class="upcomming">
        {% if event%}
        <h2 class="head" style="margin-top: 1%; margin-bottom: -10%;">Events</h2>
        <div class="parent">
            
            <!-- {% for event in event %} -->
                    
            <!-- {% endfor %} -->
            
        </div>  
        {%else%}
        <h1>No Events at the moment</h1>
        
        {%endif%}
    </section>
{% endblock %}