    {% extends 'base.html' %}
    {% load static %}
    {% block content %}
    <link rel="stylesheet" href="{% static 'offers.css' %}">
        <section class="section-0">
            <div class="blur"></div>
            <h1>This is Glorious Vision Academy</h1>
            <p>And our goal is to make your children into someone you'll be proud of</p>
        </section>
        <section class="sec-1" id="sec-1a">
            <div class="offer-cont">
                
                    <div class="offer-text">
                        <h1>Good Education</h1>
                        <p>
                            We offer good and affordable education for your kids. Our classes are interactive, organized and interesting.

                        </p>
                    </div>
                    
                
                    <div class="offer-text">
                        <h1>Conducive classes & Environment</h1>
                        <p>
                            We have a nice and conducive environment for learning. Our classes contains the neccessary materials for learning.
                        </p>
                    </div>
                    
                
            </div>
            <div class="offer-cont">
            
                <div class="offer-text">
                    <h1>Tight Security</h1>
                    <p>
                        We have a very strict security personel to make sure your children are secured within the school enviroment which reduces exposure to danger.
                    </p>
                </div>
                
            
                <div class="offer-text">
                    <h1>Fantastic Facilities</h1>
                    <p></p>
                </div>
                
           
            </div>
            <div class="offer-cont">
            
                <div class="offer-text">
                    <h1>Extra-curiccular Activities</h1>
                    <p>

                    </p>
                </div>
                
            
                <div class="offer-text">
                    <h1>Fast Transportation</h1>
                    <p>

                    </p>
                </div>
                
            
            </div>
        </section>
        
        
        
    {% endblock %}