{% extends 'profiles/Admin Templates/base.html'%}
{% load static %}
{% block css %}
    {% comment %} <link rel="stylesheet" href="{% static 'profile/admin/add-staff.css' %}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'profile/admin/add-students.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'profile/admin/manage-class.css' %}"> {% endcomment %}
    <style>
        #lect{
            background-color: white;
            color: rgb(8, 0, 98);
        }
    </style>

{% endblock css %}
{% block  content%}
    <h2 class="add-staff">Lecture</h2>
        {% for lecture in lectures %}
        <div class="container" style="background-color: rgb(8, 0, 98); padding: 2%; color: white; margin-top: 5%;">
            <h3 style="width: 100%; height:fit-content; text-align: center;">Subject: {{lecture.subject.name}}</h3>
            {% comment %} <h4>Composed by:  {{lecture.created_by.admin.first_name}} {{lecture.created_by.admin.last_name}} ({{lecture.created_by.admin.username}})</h4> {% endcomment %}
            <h5>Topic/Module: {{lecture.heading}}</h5>
            <p>Created At: {{lecture.created_at}}</p>
            <p>Last Updated At: {{lecture.updated_at}}</p>
            <p>Class: {{lecture.form_class}}</p><br>
            <p>Lecture Note:<br>
            <textarea disabled cols="30" style="background-color: white;color: black;"rows="10">{{lecture.lecture_text}}</textarea>
            </p>
        
            {% if lecture.lecture_file %} 
                <p style="margin-top:2%">Lecture File: <a href="{{lecture.lecture_file.url}}" download> Download Lecture File</p>
            {%endif%}
        
            {% if lecture.lecture_ppt %}
                <p style="margin-top:2%"><a href="{{lecture.lecture_ppt.url}}" download> Download Lecture PPT</a></p>
            {%endif%}

            {% if lecture.lecture_video %}
                <p style="margin-top:2%">Lecture Lecture: <a href="{{lecture.lecture_video.url}}" download> Download Lecture Video</a></p>
                <video width="100%" height= "500px" controls>
                    <source src="{{lecture.lecture_video.url}}">
                </video>
            {%endif%}
            <a href="{% url 'admin_edit_lecture' lecture_id=lecture.id %}"><button class="edit" style="color: white; padding: 0.5%; border: none; background: green;" >Edit</button></a>
            <a href="{% url 'admin_delete_lecture' lecture_id=lecture.id %}"><button style="background: red;color: white; padding: 0.5%; border: none;" class="delete">Delete</button></a>
        </div>
        {% endfor %}
{% endblock %}