{% extends 'profiles/Admin Templates/base.html'%}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'profile/admin/manage-stud.css' %}">
{% endblock css %}
{% block  content%}


{% endblock %}


<script>
    $(document).ready(function(){
    // keyup event will be triggered when user leaves keyboard
        $("#id_email").keyup(function(){
            var email = $(this).val();

                if(email!=""){
                    $.ajax({
                        {% comment %} url : '{% url '' %}', {% endcomment %}
                        type : 'POST',
                        data : {email:email}
                    })
                    .done(function(response){
                        //console.log(response);

                        if(response == "True"){
                            $(".email_error").remove();
                            $("<span class='email_error' style='color: red; padding: 5px; font-weight: bold;'> Email Not Available. </span>").insertAfter("#id_email")
                        }
                        else{
                            $(".email_error").remove();
                            $("<span class='email_error' style='color: green; padding: 5px; font-weight: bold;'> Email Available. </span>").insertAfter("#id_email")
                        }
                    })

                    .fail(function(){
                        console.log("Failed");
                    })
                }
                else{
                    $(".email_error").remove();
                }

        })

        $("#id_username").keyup(function(){
            var username = $(this).val();

            if(username!=""){
                $.ajax({
                    {% comment %} url : '{% url 'check_username_exist' %}', {% endcomment %}
                    type : 'POST',
                    data : {username:username}
                })
                .done(function(response){
                    //console.log(response);

                    if(response == "True"){
                        $(".username_error").remove();
                        $("<span class='username_error' style='color: red; padding: 5px; font-weight: bold;'> Username Not Available. </span>").insertAfter("#id_username")
                    }
                    else{
                        $(".username_error").remove();
                        $("<span class='username_error' style='color: green; padding: 5px; font-weight: bold;'> Username Available. </span>").insertAfter("#id_username")
                    }
                })

                .fail(function(){
                    console.log("Failed");
                })
            }
            else{
                $(".username_error").remove();
            }
        })
    })
</script>
</form>