{% extends 'profiles/Staff Templates/base.html'%}
{% load static %}
{% block css %}
    <style>
        #form-el{
            display: none;
        }
        #form-el.active{
            display: block;
        }
        a{
            text-decoration: none;
            color: white;
        }
        #staff-link{
        background-color: rgb(3, 100, 174) !important;
        }
    </style>
{% endblock css %}
{% block content%}
    <div class=" h-100 overflow-scroll">
        <h3>Students</h3>
        <div class="card-body table-responsive p-0 mt-3">
            <table class="table table-success table-hover text-nowrap">
                <tr class="">
                    {% comment %} <th>ID</th> {% endcomment %}
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Assignments Submitted</th>
                    <th>Total Assignment Score</th>
                    <th>Total Test Score</th>
                    <th>Total Exam Score</th>
                    <th>Overall Score</th>
                    {% comment %} <th>Address</th> {% endcomment %}
                    <th>Last Login</th>
                    <th>Date Joined</th>
                    <th>Profile</th>
                </tr>
                {% for student in students%}
                    <tr>
                        {% comment %} <td>{{student.admin.id}}</td> {% endcomment %}
                            {% comment %} <td><img src="{{student.profile_pic}}"></img></td> {% endcomment %}
                            <td>{{student.admin.first_name}}</td>
                            <td>{{student.admin.last_name}}</td>
                            <td>{{student.admin.username}}</td>
                            <td>{{student.admin.email}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            {% comment %} <td>{{student.address}}</td> {% endcomment %}
                            {%if student.admin.last_login%}
                                <td>{{student.admin.last_login}}</td>
                            {%else%}
                                <td>Not Logged in yet</td>
                            {%endif%}
                            <td>{{student.admin.date_joined}}</td>
                            
                            <td><button class="btn btn-success"> Profile</button><td>                 
                    </tr>
                {%endfor%}          
            </table>
        </div>
    </div>
{% endblock %}
{% block js%}
    <script>
        const btnEl = document.getElementById("btn-el")
        const formEl = document.getElementById("form-el")
        btnEl.addEventListener("click", function(){
            formEl.classList.toggle("active")
        })
    </script>
{% endblock %}
